@{ Layout = "_Layout_MainStaff"; }

@{ ViewData["Title"] = "Biểu đồ thu nhập"; }

@section stylesheets {
    <!-- Stylesheets -->
}

@section navbar {
    <!-- Navbar -->
}

@section sidebar {
    <!-- Sidebar -->
    @{ ViewData["staffSidebarActive"] = "Home"; }
    @await Html.PartialAsync("_Item_Staff_Sidebar")
}

@section mainContent {
    <button class="btn btn-outline-info btn-sm order-1 order-lg-0" id="sidebarToggle"><i class="fas fa-bars"></i></button>
    <br>

}

@section footer {
    @await Html.PartialAsync("_Item_Footer")
}

@section javascripts {
    <!-- Javascripts -->
}