<!DOCTYPE html>
<html lang="vi">
  <head>
    <title>Hướng dẫn sử dụng - Quản lý quán cà phê</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Optional Stylesheets-->
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="~/liblaries/bootstrap.min.css">
    <!-- Custom JavaScript-->
    <link rel="stylesheet" href="~/css/main.css">
    <!-- DataTable-->
  </head>
  <body class="sb-nav-fixed">
    <!-- Start Navbar chính-->
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark"><a class="navbar-brand" href="Admin/Tongquat">Quản lý quán cà phê</a>
      <button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle"><i class="fas fa-bars"></i></button>
      <!-- Navbar-->
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user fa-fw"></i>ADMIN</a>
          <!-- Thông tin tài khoản-->
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown"><a class="dropdown-item" href="#">Thông tin tài khoản</a><a class="dropdown-item" href="Admin/Login">Đăng xuất</a></div>
        </li>
      </ul>
    </nav>
    <!-- End Navbar chính-->
    <!-- Start Sidebar chính-->
    <div id="layoutSidenav">
      <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
          <!-- Menu của sidebar-->
          <div class="sb-sidenav-menu">
            <div class="nav">
              <div class="sb-sidenav-menu-heading">Nội dung chính</div><a class="nav-link" href="Admin/Tongquat">
                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>Tổng quan</a><a class="nav-link" href="Admin/Quanlytaikhoan">
                <div class="sb-nav-link-icon"><i class="fas fa-user"></i></div>Quản lý tài khoản</a><a class="nav-link" href="Admin/Quanlynhanvien">
                <div class="sb-nav-link-icon"><i class="fas fa-users"></i></div>Quản lý nhân viên</a><a class="nav-link" href="Admin/Quanlyhoadon">
                <div class="sb-nav-link-icon"><i class="fas fa-shopping-cart"></i></div>Quản lý hóa đơn và chi tiết hóa đơn</a><a class="nav-link" href="Admin/Quanlykhachhang">
                <div class="sb-nav-link-icon"><i class="fas fa-users"></i></div>Quản lý khách hàng thành viên</a><a class="nav-link" href="Admin/Quanlyban">
                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>Quản lý bàn và đặt bàn</a><a class="nav-link" href="Admin/Quanlyloaisanpham">
                <div class="sb-nav-link-icon"><i class="fas fa-beer"></i></div>Quản lý sản phẩm và loại sản phẩm</a><a class="nav-link" href="Admin/Quanlykhuyenmai">
                <div class="sb-nav-link-icon"><i class="fas fa-credit-card"></i></div>Quản lý khuyến mãi và chi tiết khuyến mãi</a>
              <div class="sb-sidenav-menu-heading">Thông tin</div><a class="nav-link" href="Admin/Thongtinungdung">
                <div class="sb-nav-link-icon"><i class="fas fa-info"></i></div>Thông tin ứng dụng</a><a class="nav-link active" href="Admin/Huongdansudung">
                <div class="sb-nav-link-icon"><i class="fas fa-info-circle"></i></div>Hướng dẫn sử dụng</a>
            </div>
          </div>
          <!-- Thông tin người dùng đăng nhập-->
          <div class="sb-sidenav-footer">
            <div class="small">Bạn đã đăng nhập bằng tài khoản:</div>ADMIN
          </div>
        </nav>
      </div>
      <!-- End Sidebar chính-->
      <!-- Start Content-->
      <div id="layoutSidenav_content">
        <main>
          <div class="container-fluid">
            <!-- Thông tin nội dung trang-->
            <h1 class="mt-4">Hướng dẫn sử dụng</h1>
            <ol class="breadcrumb mb-4">
              <li class="breadcrumb-item"><a href="Admin/Thongtinungdung">Thông tin</a></li>
              <li class="breadcrumb-item active">Hướng dẫn sử dụng</li>
            </ol>
            <div class="card mb-4">
              <div class="card-header"><i class="fas fa-wrench mr-1"></i>Các thao tác  được hỗ trợ thực hiện</div>
              <div class="card-body"></div>
            </div>
          </div>
        </main>
        <!-- Footer của content-->
        <footer class="py-4 bg-light mt-auto">
          <div class="container-fluid">
            <div class="d-flex align-items-center justify-content-between small">
              <div class="text-muted">Nhóm framework số 1</div>
              <div><a href="#">Thông tin ứng dụng</a>                                ·<a href="#"> Hướng dẫn sử dụng </a></div>
            </div>
          </div>
        </footer>
      </div>
      <!-- End Content-->
    </div>
    <!-- Optional JavaScript-->
    <!-- jQuery first, then Popper.js, then Bootstrap JS-->
    <script type="text/javascript" src="~/liblaries/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="~/liblaries/bootstrap.bundle.min.js"></script>
    <!-- Fontawesome-->
    <script type="text/javascript" src="~/liblaries/fontawesome-all.min.js"></script>
    <!-- Custom JavaScript-->
    <script type="text/javascript" src="~/js/main.js"></script>
    <!-- Datatable Javascript-->
    <!-- Custom JavaScript-->
  </body>
</html>