@{    
 Layout = "_Layout_MainAdmin";
}

@{
    ViewData["Title"] = "Quản lý bàn";
    ViewData["mainTitle"] = "Quản lý bàn";
}

@section stylesheets {
    <!-- Stylesheets -->
    <!-- DataTable-->
    <link rel="stylesheet" type="text/css" href="~/liblaries/datatables.min.css">
}

@section navbar {
    <!-- Navbar -->
    @await Html.PartialAsync("_Item_Navbar");
}

@section sidebar {
    <!-- Sidebar -->
    @{
        ViewData["adminSidebarActive"] = "Quanlytaikhoan";
    }
    @await Html.PartialAsync("_Item_Sidebar")
}

@section mainContent {
    <!-- Breadcrumb đường dẫn đến trang -->
    @{
        List<Breadcrumb> breadcrumbs = new List<Breadcrumb>();
        breadcrumbs.Add(new Breadcrumb() { Name = "Tổng quát", Link = "/Admin/Tongquat", IsActive = false });
        breadcrumbs.Add(new Breadcrumb() { Name = "Quản lý bàn", Link = "/Admin/Quanlyban", IsActive = true });
        ViewData["breadcrumbs"] = breadcrumbs;
    }
    @await Html.PartialAsync("_Item_Breadcrumb")

    <!-- Thao tác hỗ trợ thực hiện-->
    <div class="card mb-4">
        <div class="card-header"><i class="fas fa-wrench mr-1"></i>Các thao tác  được hỗ trợ thực hiện</div>
        <div class="card-body">
            <button class="btn btn-outline-primary mr-3" id="themBan" type="button" data-toggle="modal" data-target="#modelThemBan" modify="ThemBan">Thêm bàn</button>
            <div class="btn-group mr-3" role="group" aria-label="Các nút chức năng xóa">
                <button class="btn btn-outline-secondary" id="danhDauTatCa" type="button">Đánh dấu tất cả</button>
                <button class="btn btn-outline-secondary" id="boDanhDauTatCa" type="button">Bỏ đánh dấu tất cả</button>
            </div>
            <div class="btn-group mr-3" role="group" aria-label="Các nút chức năng xóa">
                <button class="btn btn-outline-danger" id="xoaDanhDau" type="button">Xóa đánh dấu</button>
                <button class="btn btn-outline-danger" id="xoaTatCa" type="button">Xóa tất cả</button>
            </div>
            <button class="btn btn-outline-info mr-3" id="lamMoi" type="button">Làm mới</button>
        </div>
    </div>

    <!-- Model thêm bàn-->
    <div class="modal fade" id="modelThemBan" tabindex="-1" role="dialog" aria-labelledby="Model aria-labelledby" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Thêm bàn</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                </div>
                <div class="modal-body">
                    <div id="themBanAlerts">
                        <!-- Các alert của phần này-->
                    </div>
                    <input class="id_ban" type="hidden">
                    <div class="form-group">
                        <label class="small mb-1" for="themBanTen">Tên</label>
                        <input class="form-control py-4 username ten" id="themBanTen" type="text" placeholder="Nhập Tên">
                    </div>
                    <!--
                    <div class="form-group">
                        <label class="small mb-1" for="themBanTrangThai">Trạng thái</label>
                        <select class="form-control trang_thai" id="themBanTrangThai">
                            <option value="0">Trạng thái                    </option>
                        </select>
                    </div>-->

                </div>
                <div class="modal-footer">
                    <input class="btn btn-outline-primary" id="themBanConfirm" type="button" value="Thêm Bàn">
                    <input class="btn btn-outline-secondary" id="themBanReset" type="reset" value="Cài lại">
                </div>
            </div>
        </div>
    </div>

    <!-- Model sửa bàn-->
    <div class="modal fade" id="modelSuaBan" tabindex="-1" role="dialog" aria-labelledby="Model aria-labelledby" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Sửa bàn</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                </div>
                <div class="modal-body">
                    <div id="suaBanAlerts">
                        <!-- Các alert của phần này-->
                    </div>
                    <input class="id_ban" type="hidden">
                    <div class="form-group">
                        <label class="small mb-1" for="suaBanTen">Tên</label>
                        <input class="form-control py-4 username ten" id="suaBanTen" type="text" placeholder="Nhập Tên">
                    </div>
                    <!--
                    <div class="form-group">
                        <label class="small mb-1" for="suaBanTrangThai">Trạng thái</label>
                        <select class="form-control trang_thai" id="suaBanTrangThai">
                            <option value="0">Trạng thái  </option>
                        </select>
                    </div>-->
                </div>
                <div class="modal-footer">
                    <input class="btn btn-outline-primary" id="suaBanConfirm" type="button" value="Sửa Bàn">
                    <input class="btn btn-outline-secondary" id="suaBanReset" type="reset" value="Cài lại">
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-header"><i class="fas fa-table mr-1"></i>Bảng quản lý bàn</div>
        <div class="card-body">
            <div id="tableQuanLyBanAlert"></div>
            <div class="table-responsive" id="tableQuanLyBanContainer">
                <table class="table table-bordered table-striped table-hover" id="tableQuanLyBan" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Tên bàn</th>
                            <th>Thao tác</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>ID</th>
                            <th>Tên bàn</th>
                            <th>Thao tác</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        <!-- Nội dung bảng-->
                    </tbody>
                </table>
            </div>
        </div>
    </div>

}

@section footer {
    @await Html.PartialAsync("_Item_Footer")
}

@section javascripts {
    <!-- Javascripts -->
    <!-- Datatable Javascript-->
    <script type="text/javascript" src="~/liblaries/datatables.min.js"></script>
    <!-- Custom JavaScript-->
    <script type="text/javascript" src="~/js/custom-toggle-button.js"></script>
    <script type="text/javascript" src="~/js/quan-ly-ban.js"></script>
    <script type="text/javascript" src="~/js/custom-alert.js"></script>
}

