<!DOCTYPE html>
<html lang="vi">
  <head>
    <title>Quản lý loại sản phẩm - Quản lý quán cà phê</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Optional Stylesheets-->
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="~/liblaries/bootstrap.min.css">
    <!-- Custom JavaScript-->
    <link rel="stylesheet" href="~/css/main.css">
    <!-- DataTable-->
    <link rel="stylesheet" type="text/css" href="~/liblaries/datatables.min.css">
  </head>
  <body class="sb-nav-fixed">
    <!-- Start Navbar chính-->
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark"><a class="navbar-brand" href="Tongquat">Quản lý quán cà phê</a>
      <button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle"><i class="fas fa-bars"></i></button>
      <!-- Navbar-->
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user fa-fw"></i>ADMIN</a>
          <!-- Thông tin tài khoản-->
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown"><a class="dropdown-item" href="#">Thông tin tài khoản</a><a class="dropdown-item" href="Login">Đăng xuất</a></div>
        </li>
      </ul>
    </nav>
    <!-- End Navbar chính-->
    <!-- Start Sidebar chính-->
    <div id="layoutSidenav">
      <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
          <!-- Menu của sidebar-->
          <div class="sb-sidenav-menu">
            <div class="nav">
              <div class="sb-sidenav-menu-heading">Nội dung chính</div><a class="nav-link" href="Tongquat">
                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>Tổng quan</a><a class="nav-link" href="Quanlytaikhoan">
                <div class="sb-nav-link-icon"><i class="fas fa-user"></i></div>Quản lý tài khoản</a><a class="nav-link" href="Quanlynhanvien">
                <div class="sb-nav-link-icon"><i class="fas fa-users"></i></div>Quản lý nhân viên</a><a class="nav-link" href="Quanlyhoadon">
                <div class="sb-nav-link-icon"><i class="fas fa-shopping-cart"></i></div>Quản lý hóa đơn và chi tiết hóa đơn</a><a class="nav-link" href="Quanlykhachhang">
                <div class="sb-nav-link-icon"><i class="fas fa-users"></i></div>Quản lý khách hàng thành viên</a><a class="nav-link" href="Quanlyban">
                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>Quản lý bàn và đặt bàn</a><a class="nav-link active" href="Quanlyloaisanpham">
                <div class="sb-nav-link-icon"><i class="fas fa-beer"></i></div>Quản lý sản phẩm và loại sản phẩm</a><a class="nav-link" href="Quanlykhuyenmai">
                <div class="sb-nav-link-icon"><i class="fas fa-credit-card"></i></div>Quản lý khuyến mãi và chi tiết khuyến mãi</a>
              <div class="sb-sidenav-menu-heading">Thông tin</div><a class="nav-link" href="Thongtinungdung">
                <div class="sb-nav-link-icon"><i class="fas fa-info"></i></div>Thông tin ứng dụng</a><a class="nav-link" href="Huongdansudung">
                <div class="sb-nav-link-icon"><i class="fas fa-info-circle"></i></div>Hướng dẫn sử dụng</a>
            </div>
          </div>
          <!-- Thông tin người dùng đăng nhập-->
          <div class="sb-sidenav-footer">
            <div class="small">Bạn đã đăng nhập bằng tài khoản:</div>ADMIN
          </div>
        </nav>
      </div>
      <!-- End Sidebar chính-->
      <!-- Start Content-->
      <div id="layoutSidenav_content">
        <main>
          <div class="container-fluid">
            <!-- Model thêm loại sản phẩm-->
            <div class="modal fade" id="modelThemLoaiSanPham" tabindex="-1" role="dialog" aria-labelledby="Model aria-labelledby" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">Thêm loại sản phẩm</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                  </div>
                  <div class="modal-body">
                    <div id="themLoaiSanPhamAlerts">
                      <!-- Các alert của phần này-->
                    </div>
                    <input class="id_loaisp" type="hidden">
                    <input class="so_san_pham" type="hidden">
                    <div class="form-group">
                      <label class="small mb-1" for="themLoaiSanPhamTen">Tên</label>
                      <input class="form-control py-4 username ten" id="themLoaiSanPhamTen" type="text" placeholder="Nhập Tên">
                    </div>
                  </div>
                  <div class="modal-footer">
                    <input class="btn btn-outline-primary" id="themLoaiSanPhamConfirm" type="button" value="Thêm Loại sản phẩm">
                    <input class="btn btn-outline-secondary" id="themLoaiSanPhamReset" type="reset" value="Cài lại">
                  </div>
                </div>
              </div>
            </div>
            <!-- Model sửa loại sản phẩm-->
            <div class="modal fade" id="modelSuaLoaiSanPham" tabindex="-1" role="dialog" aria-labelledby="Model aria-labelledby" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">Sửa loại sản phẩm</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                  </div>
                  <div class="modal-body">
                    <div id="suaLoaiSanPhamAlerts">
                      <!-- Các alert của phần này-->
                    </div>
                    <input class="id_loaisp" type="hidden">
                    <input class="so_san_pham" type="hidden">
                    <div class="form-group">
                      <label class="small mb-1" for="suaLoaiSanPhamTen">Tên</label>
                      <input class="form-control py-4 username ten" id="suaLoaiSanPhamTen" type="text" placeholder="Nhập Tên">
                    </div>
                  </div>
                  <div class="modal-footer">
                    <input class="btn btn-outline-primary" id="suaLoaiSanPhamConfirm" type="button" value="Sửa Loại sản phẩm">
                    <input class="btn btn-outline-secondary" id="suaLoaiSanPhamReset" type="reset" value="Cài lại">
                  </div>
                </div>
              </div>
            </div>
            <!-- Model chi tiết loại sản phẩm-->
            <div class="modal fade" id="modelChiTietLoaiSanPham" tabindex="-1" role="dialog" aria-labelledby="Model aria-labelledby" aria-hidden="true">
              <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">Chi tiết đặt loại sản phẩm <span id="loaiSanPhamTitleInformation"></span></h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                  </div>
                  <div class="modal-body">
                    <!-- Thông tin nội dung trang-->
                    <div class="card mb-4">
                      <div class="card-header"><i class="fas fa-wrench mr-1"></i>Các thao tác  được hỗ trợ thực hiện</div>
                      <div class="card-body">
                        <button class="btn btn-outline-primary mr-3" id="themCTLSP" type="button" data-toggle="modal" data-target="#modelThemCTLSP" modify="ThemCTLSP">Thêm sản phẩm</button>
                        <div class="btn-group mr-3" role="group" aria-label="Các nút chức năng xóa">
                          <button class="btn btn-outline-secondary" id="danhDauTatCaCTLSP" type="button">Đánh dấu tất cả</button>
                          <button class="btn btn-outline-secondary" id="boDanhDauTatCaCTLSP" type="button">Bỏ đánh dấu tất cả</button>
                        </div>
                        <div class="btn-group mr-3" role="group" aria-label="Các nút chức năng xóa">
                          <button class="btn btn-outline-danger" id="xoaDanhDauCTLSP" type="button">Xóa đánh dấu</button>
                          <button class="btn btn-outline-danger" id="xoaTatCaCTLSP" type="button">Xóa tất cả</button>
                        </div>
                        <button class="btn btn-outline-info mr-3" id="lamMoiCTLSP" type="button">Làm mới</button>
                      </div>
                    </div>
                    <div class="card mb-4">
                      <div class="card-header"><i class="fas fa-table mr-1"></i>Bảng quản lý sản phẩm</div>
                      <div class="card-body">
                        <div class="table-responsive" id="tableQuanLyCTLSPContainer">
                          <table class="table table-bordered table-striped table-hover" id="tableQuanLyCTLSP" width="100%" cellspacing="0">
                            <thead>
                              <tr>
                                <th>ID sản phẩm</th>
                                <th>ID loại sản phẩm</th>
                                <th>Tên</th>
                                <th>Giá </th>
                                <th>Điểm tích lũy </th>
                                <th>Ghi chú </th>
                                <th>Thao tác</th>
                              </tr>
                            </thead>
                            <tfoot>
                              <tr>
                                <th>ID sản phẩm</th>
                                <th>ID loại sản phẩm</th>
                                <th>Tên</th>
                                <th>Giá </th>
                                <th>Điểm tích lũy </th>
                                <th>Ghi chú </th>
                                <th>Thao tác</th>
                              </tr>
                            </tfoot>
                            <tbody>
                              <!-- Nội dung bảng-->
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                    <!-- Model thêm loại sản phẩm-->
                    <div class="modal fade" id="modelThemCTLSP" tabindex="-1" role="dialog" aria-labelledby="Model aria-labelledby" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title">Thêm sản phẩm</h5>
                            <button class="close" type="button" aria-label="Close"><span aria-hidden="true">×</span></button>
                          </div>
                          <div class="modal-body">
                            <div id="themCTLSPAlerts">
                              <!-- Các alert của phần này-->
                            </div>
                            <input class="id_san_pham" type="hidden">
                            <div class="form-group">
                              <label class="small mb-1" for="themCTLSPLoaiSp">Loại sản phẩm</label>
                              <input class="form-control py-1 px-2 d-flex align-item-center id_loaisp" id="themCTLSPLoaiSp" type="text" placeholder="Loại sản phẩm hiện tại" readonly="readonly">
                            </div>
                            <div class="form-group">
                              <label class="small mb-1" for="themCTLSPTen">Tên </label>
                              <input class="form-control py-1 px-2 d-flex align-item-center ten" id="themCTLSPTen" type="text" placeholder="Tên sản phẩm">
                            </div>
                            <div class="form-group">
                              <label class="small mb-1" for="themCTLSPGia">Giá </label>
                              <input class="form-control py-1 px-2 d-flex align-item-center gia" id="themCTLSPGia" type="number" min="500" step="500" placeholder="Giá sản phẩm ">
                            </div>
                            <div class="form-group">
                              <label class="small mb-1" for="themCTLSPDiemTichLuy">Điểm tích lũy </label>
                              <input class="form-control py-1 px-2 d-flex align-item-center diem_tich_luy" id="themCTLSPDiemTichLuy" type="number" min="0" step="0" placeholder="Điểm tích lũy sản phẩm ">
                            </div>
                            <div class="form-group">
                              <label class="small mb-1" for="themCTLSPGhiChu">Ghi chú</label>
                              <textarea class="form-control py-4 ghi_chu" id="themCTLSPGhiChu" placeholder="Ghi chú"></textarea>
                            </div>
                          </div>
                          <div class="modal-footer">
                            <input class="btn btn-outline-primary" id="themCTLSPComfirm" type="button" value="Thêm Sản phẩm">
                            <input class="btn btn-outline-secondary" id="themCTLSPReset" type="reset" value="Cài lại">
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Model sửa loại sản phẩm-->
                    <div class="modal fade" id="modelSuaCTLSP" tabindex="-1" role="dialog" aria-labelledby="Model aria-labelledby" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title">Sửa sản phẩm</h5>
                            <button class="close" type="button" aria-label="Close"><span aria-hidden="true">×</span></button>
                          </div>
                          <div class="modal-body">
                            <div id="suaCTLSPAlerts">
                              <!-- Các alert của phần này-->
                            </div>
                            <input class="id_san_pham" type="hidden">
                            <div class="form-group">
                              <label class="small mb-1" for="suaCTLSPLoaiSp">Loại sản phẩm</label>
                              <input class="form-control py-1 px-2 d-flex align-item-center id_loaisp" id="suaCTLSPLoaiSp" type="text" placeholder="Loại sản phẩm hiện tại" readonly="readonly">
                            </div>
                            <div class="form-group">
                              <label class="small mb-1" for="suaCTLSPTen">Tên </label>
                              <input class="form-control py-1 px-2 d-flex align-item-center ten" id="suaCTLSPTen" type="text" placeholder="Tên sản phẩm">
                            </div>
                            <div class="form-group">
                              <label class="small mb-1" for="suaCTLSPGia">Giá </label>
                              <input class="form-control py-1 px-2 d-flex align-item-center gia" id="suaCTLSPGia" type="number" min="500" step="500" placeholder="Giá sản phẩm ">
                            </div>
                            <div class="form-group">
                              <label class="small mb-1" for="suaCTLSPDiemTichLuy">Điểm tích lũy </label>
                              <input class="form-control py-1 px-2 d-flex align-item-center diem_tich_luy" id="suaCTLSPDiemTichLuy" type="number" min="0" step="0" placeholder="Điểm tích lũy sản phẩm ">
                            </div>
                            <div class="form-group">
                              <label class="small mb-1" for="suaCTLSPGhiChu">Ghi chú</label>
                              <textarea class="form-control py-4 ghi_chu" id="suaCTLSPGhiChu" placeholder="Ghi chú"></textarea>
                            </div>
                          </div>
                          <div class="modal-footer">
                            <input class="btn btn-outline-primary" id="suaCTLSPComfirm" type="button" value="Sửa Sản phẩm ">
                            <input class="btn btn-outline-secondary" id="suaCTLSPReset" type="reset" value="Cài lại">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Thông tin nội dung trang-->
            <h1 class="mt-4">Quản lý loại sản phẩm</h1>
            <ol class="breadcrumb mb-4">
              <li class="breadcrumb-item"><a href="Tongquat">Tổng quát</a></li>
              <li class="breadcrumb-item active">Quản lý loại sản phẩm</li>
            </ol>
            <div class="card mb-4">
              <div class="card-header"><i class="fas fa-wrench mr-1"></i>Các thao tác  được hỗ trợ thực hiện</div>
              <div class="card-body">
                <button class="btn btn-outline-primary mr-3" id="themLoaiSanPham" type="button" data-toggle="modal" data-target="#modelThemLoaiSanPham" modify="ThemLoaiSanPham">Thêm loại sản phẩm</button>
                <div class="btn-group mr-3" role="group" aria-label="Các nút chức năng xóa">
                  <button class="btn btn-outline-secondary" id="danhDauTatCa" type="button">Đánh dấu tất cả</button>
                  <button class="btn btn-outline-secondary" id="boDanhDauTatCa" type="button">Bỏ đánh dấu tất cả</button>
                </div>
                <div class="btn-group mr-3" role="group" aria-label="Các nút chức năng xóa">
                  <button class="btn btn-outline-danger" id="xoaDanhDau" type="button">Xóa đánh dấu</button>
                  <button class="btn btn-outline-danger" id="xoaTatCa" type="button">Xóa tất cả</button>
                </div>
                <button class="btn btn-outline-info mr-3" id="lamMoi" type="button">Làm mới</button>
              </div>
            </div>
            <div class="card mb-4">
              <div class="card-header"><i class="fas fa-table mr-1"></i>Bảng quản lý loại sản phẩm</div>
              <div class="card-body">
                <div class="table-responsive" id="tableQuanLyLoaiSanPhamContainer">
                  <table class="table table-bordered table-striped table-hover" id="tableQuanLyLoaiSanPham" width="100%" cellspacing="0">
                    <thead>
                      <tr>
                        <th>ID loại sản phẩm                            </th>
                        <th>Tên loại sản phẩm</th>
                        <th>Thao tác</th>
                      </tr>
                    </thead>
                    <tfoot>
                      <tr>
                        <th>ID loại sản phẩm                            </th>
                        <th>Tên loại sản phẩm</th>
                        <th>Thao tác</th>
                      </tr>
                    </tfoot>
                    <tbody>
                      <!-- Nội dung bảng-->
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </main>
        <!-- Footer của content-->
        <footer class="py-4 bg-light mt-auto">
          <div class="container-fluid">
            <div class="d-flex align-items-center justify-content-between small">
              <div class="text-muted">Nhóm framework số 1</div>
              <div><a href="#">Thông tin ứng dụng</a>                                ·<a href="#"> Hướng dẫn sử dụng </a></div>
            </div>
          </div>
        </footer>
      </div>
      <!-- End Content-->
    </div>
    <!-- Optional JavaScript-->
    <!-- jQuery first, then Popper.js, then Bootstrap JS-->
    <script type="text/javascript" src="~/liblaries/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="~/liblaries/bootstrap.bundle.min.js"></script>
    <!-- Fontawesome-->
    <script type="text/javascript" src="~/liblaries/fontawesome-all.min.js"></script>
    <!-- Custom JavaScript-->
    <script type="text/javascript" src="~/js/main.js"></script>
    <!-- Datatable Javascript-->
    <script type="text/javascript" src="~/liblaries/datatables.min.js"></script>
    <!-- Custom JavaScript-->
    <script type="text/javascript" src="~/js/custom-toggle-button.js"></script>
    <script type="text/javascript" src="~/js/custom-alert.js"></script>
    <script type="text/javascript" src="~/js/quan-ly-chi-tiet-loai-san-pham.js"></script>
    <script type="text/javascript" src="~/js/quan-ly-loai-san-pham.js">   </script>
  </body>
</html>