@{
    Layout = "_Layout_MainAdmin";
}

@{
    ViewData["Title"] = "Quản lý sản phẩm";
    ViewData["mainTitle"] = "Quản lý sản phẩm";
}

@section stylesheets {
    <!-- Stylesheets -->
    <!-- DataTable-->
    <link rel="stylesheet" type="text/css" href="~/liblaries/datatables.min.css">
}

@section navbar {
    <!-- Navbar -->
    @await Html.PartialAsync("_Item_Navbar");
}

@section sidebar {
    <!-- Sidebar -->
    @{
        ViewData["adminSidebarActive"] = "Quanlysanpham";
    }
    @await Html.PartialAsync("_Item_Sidebar")
}

@section mainContent {
    <!-- Breadcrumb đường dẫn đến trang -->
    @{
        List<Breadcrumb> breadcrumbs = new List<Breadcrumb>();
        breadcrumbs.Add(new Breadcrumb() { Name = "Tổng quát", Link = "/Admin/Tongquat", IsActive = false });
        breadcrumbs.Add(new Breadcrumb() { Name = "Quản lý sản phẩm", Link = "/Admin/Quanlysanpham", IsActive = true });
        ViewData["breadcrumbs"] = breadcrumbs;
    }
    @await Html.PartialAsync("_Item_Breadcrumb")

    <!-- Thao tác hỗ trợ thực hiện -->
    <div class="card mb-4">
        <div class="card-header"><i class="fas fa-wrench mr-1"></i>Các thao tác  được hỗ trợ thực hiện</div>
        <div class="card-body">
            <button class="btn btn-outline-primary mr-3" id="themSanPham" type="button" data-toggle="modal" data-target="#modelThemSanPham" modify="ThemSanPham">Thêm SanPham</button>
            <div class="btn-group mr-3" role="group" aria-label="Các nút chức năng xóa">
                <button class="btn btn-outline-secondary" id="danhDauTatCa" type="button">Đánh dấu tất cả</button>
                <button class="btn btn-outline-secondary" id="boDanhDauTatCa" type="button">Bỏ đánh dấu tất cả</button>
            </div>
            <div class="btn-group mr-3" role="group" aria-label="Các nút chức năng xóa">
                <button class="btn btn-outline-danger" id="xoaDanhDau" type="button">Xóa đánh dấu</button>
                <button class="btn btn-outline-danger" id="xoaTatCa" type="button">Xóa tất cả</button>
            </div>
            <button class="btn btn-outline-info mr-3" id="lamMoi" type="button">Làm mới</button>
        </div>
    </div>

    <!-- Model thêm  sản phẩm-->
    <div class="modal fade" id="modelThemSanPham" tabindex="-1" role="dialog" aria-labelledby="Model aria-labelledby" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Thêm sản phẩm</h5>
                    <button class="close" type="button" aria-label="Close"><span aria-hidden="true">×</span></button>
                </div>
                <div class="modal-body">
                    <div id="themSanPhamAlerts">
                        <!-- Các alert của phần này-->
                    </div>
                    <input class="id_san_pham" type="hidden">

                    <div class="form-group">
                        <label class="small mb-1" for="themCTLSPTen">Tên </label>
                        <input class="form-control py-1 px-2 d-flex align-item-center ten" id="themTenSanPham" type="text" placeholder="Tên sản phẩm">
                    </div>
                    <div class="form-group">
                        <label class="small mb-1" for="themCTLSPGia">Giá </label>
                        <input class="form-control py-1 px-2 d-flex align-item-center gia" id="themGiaSanPham" type="number" min="500" step="500" placeholder="Giá sản phẩm ">
                    </div>
                    <div class="form-group">
                        <label class="small mb-1" for="themDiemTichLuy">Điểm tích lũy </label>
                        <input class="form-control py-1 px-2 d-flex align-item-center diem_tich_luy" id="themDiemTichLuy" type="number" min="0" step="0" placeholder="Điểm tích lũy khi mua sản phẩm">
                    </div>
                    <div class="form-group">
                        <label class="small mb-1" for="themGhiChu">Ghi chú</label>
                        <textarea class="form-control py-4 ghi_chu" id="themGhiChu" placeholder="Ghi chú"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <input class="btn btn-outline-primary" id="themSanPhamComfirm" type="button" value="Thêm Sản phẩm">
                    <input class="btn btn-outline-secondary" id="themSanPhamReset" type="reset" value="Cài lại">
                </div>
            </div>
        </div>
    </div>


    <!-- Model sửa sản phẩm-->
    <div class="modal fade" id="modelSuaSanPham" tabindex="-1" role="dialog" aria-labelledby="Model aria-labelledby" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Sửa sản phẩm</h5>
                    <button class="close" type="button" aria-label="Close"><span aria-hidden="true">×</span></button>
                </div>
                <div class="modal-body">
                    <div id="suaSanPhamAlerts">
                        <!-- Các alert của phần này-->
                    </div>
                    <input class="id_san_pham" type="hidden">

                    <div class="form-group">
                        <label class="small mb-1" for="suaTenSanPham">Tên </label>
                        <input class="form-control py-1 px-2 d-flex align-item-center ten" id="suaTenSanPham" type="text" placeholder="Tên sản phẩm">
                    </div>
                    <div class="form-group">
                        <label class="small mb-1" for="suaGia">Giá </label>
                        <input class="form-control py-1 px-2 d-flex align-item-center gia" id="suaGiaSanPham" type="number" min="500" step="500" placeholder="Giá sản phẩm">
                    </div>
                    <div class="form-group">
                        <label class="small mb-1" for="suaDiemTichLuy">Điểm tích lũy </label>
                        <input class="form-control py-1 px-2 d-flex align-item-center diem_tich_luy" id="suaDiemTichLuy" type="number" min="0" step="0" placeholder="Điểm tích lũy khi mua sản phẩm">
                    </div>
                    <div class="form-group">
                        <label class="small mb-1" for="themGhiChu">Ghi chú</label>
                        <textarea class="form-control py-4 ghi_chu" id="themGhiChu" placeholder="Ghi chú"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <input class="btn btn-outline-primary" id="suaSanPhamComfirm" type="button" value="Sửa Sản phẩm">
                    <input class="btn btn-outline-secondary" id="suaSanPhamReset" type="reset" value="Cài lại">
                </div>
            </div>
        </div>
    </div>


    <!-- Bảng -->
    <div class="card mb-4">
        <div class="card-header"><i class="fas fa-table mr-1"></i>Bảng quản lý sản phẩm</div>
        <div class="card-body">
            <div id="tableQuanLySanPhamAlert"></div>
            <div class="table-responsive" id="tableSanPhamContainer">
                <table class="table table-bordered table-striped table-hover" id="tableQuanLySanPham" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Tên sản phẩm</th>
                            <th>Giá</th>
                            <th>Điểm tích lũy</th>
                            <th>Ghi chú</th>
                            <th>Thao tác</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>ID</th>
                            <th>Tên sản phẩm</th>
                            <th>Giá</th>
                            <th>Điểm tích lũy</th>
                            <th>Ghi chú</th>
                            <th>Thao tác</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        <!-- Nội dung bảng-->
                    </tbody>
                </table>
            </div>
        </div>
    </div>

}

@section footer {
    @await Html.PartialAsync("_Item_Footer")
}

@section javascripts {
    <!-- Javascripts -->
    <!-- Datatable Javascript-->
    <script type="text/javascript" src="~/liblaries/datatables.min.js"></script>
    <!-- Custom JavaScript-->
    <script type="text/javascript" src="~/js/custom-toggle-button.js"></script>
    <script type="text/javascript" src="~/js/quan-ly-san-pham.js"></script>
    <script type="text/javascript" src="~/js/custom-alert.js"></script>
}