@{
    Layout = "_Layout_MainAdmin";
}

@{
    ViewData["Title"] = "Thành viên tham gia";
    ViewData["mainTitle"] = "";
}

@section stylesheets {
    <!-- Stylesheets -->
}

@section navbar {
    <!-- Navbar -->
}

@section sidebar {
    <!-- Sidebar -->
}

@section mainContent {
<div id="layoutAuthentication">
    <div id="layoutAuthentication_content">
        <main>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="card shadow-lg border-0 rounded-lg mt-8">

                            <div class="card-header">
                                <h3 class="text-center font-weight-light my-4">Thành viên tham gia</h3>
                            </div>

                            <div class="card-body">
                                Chu Min Ton - 17520000
                                <br />
                                Lê Nguyễn Hải Duy - 17520395
                                <br />
                                Lê Tăng Có - 17521111
                                <br />
                                Nguyễn Cao Nguyên - 17520821
                            </div>

                            <div class="card-footer text-center">
                                <div class="small"><a href="/Info/Huongdansudung">Hướng dẫn sử dụng</a>.<a href="/Info/Thongtinungdung">Thông tin ứng dụng</a></div>
                                <div class="small"><a href="/Home/Index">Trang chủ</a></div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>

}

@section footer {
    @await Html.PartialAsync("_Item_Footer")
}

@section javascripts {
    <!-- Javascripts -->
}
