@{
    Layout = "_Layout_MainAdmin";
}

@{
    ViewData["Title"] = "Thông tin ứng dụng";
    ViewData["mainTitle"] = "";
}

@section stylesheets {
    <!-- Stylesheets -->
}

@section navbar {
    <!-- Navbar -->
}

@section sidebar {
    <!-- Sidebar -->
}

@section mainContent {
<div id="layoutAuthentication">
    <div id="layoutAuthentication_content">
        <main>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="card shadow-lg border-0 rounded-lg mt-8">

                            <div class="card-header">
                                <h3 class="text-center font-weight-light my-4">Thông tin ứng dụng</h3>
                            </div>

                            <div class="card-body">
                                Website quản lý quán cà phê .
                                <br>
                                Viết bằng ASP.NET core MVC
                            </div>

                            <div class="card-footer text-center">
                                <div class="small"><a href="/Info/Huongdansudung">Hướng dẫn sử dụng</a>.<a href="/Info/Thanhvienthamgia">Thành viên tham gia</a></div>
                                <div class="small"><a href="/Home/Index">Trang chủ</a></div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
}

@section footer {
    @await Html.PartialAsync("_Item_Footer")
}

@section javascripts {
    <!-- Javascripts -->
}