.text-white {
    color: #fff !important;
}

.sb-sidenav-light .sb-sidenav-menu .nav-link.active  {
    color: #fff;
    opacity: 1;
}

.sb-sidenav-light .sb-sidenav-menu .nav-link.active .sb-nav-link-icon  {
    color: #fff;
    opacity: 1;
}

.sb-sidenav-light .sb-sidenav-menu .nav-link.active:hover {
    color: #fff;
    opacity: 1;
}

.sb-sidenav-light .sb-sidenav-menu .nav-link.active:hover .sb-nav-link-icon {
    color: #fff;
    opacity: 1;
}

.sb-sidenav-light .sb-sidenav-menu .nav-link {
    color: #ddd;
    opacity: 0.75;
}

.sb-sidenav-light .sb-sidenav-menu .nav-link .sb-nav-link-icon {
    color: #ddd;
    opacity: 0.75;
}

.sb-sidenav-light .sb-sidenav-menu .nav-link:hover {
    color: #fff;    
    opacity: 1;
}

.sb-sidenav-light .sb-sidenav-menu .nav-link:hover .sb-nav-link-icon {
    color: #fff;
    opacity: 1;
}