@{
    Layout = "_Layout_Main";
}

@{
    ViewData["Title"] = "Home";
}

@section stylesheets {
    <!-- Stylesheets -->
}

@section content {
    <ol>
        <li><a href="/Admin/Tongquat">Đi đến trang ADMIN tổng quát</a></li>
        <li><a href="/Info/Index">Đi đến trang thông tin ứng dụng</a></li>
        <li><a href="/Staff/Index">Đi đến trang các chức năng của nhân viên</a></li>
    </ol>
}

@section javascripts {
    <!-- Javascripts -->
}