<!DOCTYPE html>
<html lang="vi">
  <head>
    <title>Đăng ký - Quản lý quán cà phê</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Optional Stylesheets-->
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="~/liblaries/bootstrap.min.css">
    <!-- Custom JavaScript-->
    <link rel="stylesheet" href="~/css/main.css">
  </head>
  <body class="sb-nav-fixed">
    <div id="layoutAuthentication">
      <div id="layoutAuthentication_content">
        <main>
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-5">
                <div class="card shadow-lg border-0 rounded-lg mt-5">
                  <div class="card-header">
                    <h3 class="text-center font-weight-light my-4">Tạo tài khoản mới</h3>
                  </div>
                  <div class="card-body">
                    <form>
                      <div class="form-row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label class="small mb-1" for="inputFirstName">Tên của bạn</label>
                            <input class="form-control py-4" id="inputFirstName" type="text" placeholder="Nhập tên và tên đêm của bạn">
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label class="small mb-1" for="inputLastName">Họ của bạn</label>
                            <input class="form-control py-4" id="inputLastName" type="text" placeholder="Nhập học của bạn">
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="small mb-1" for="inputUsername">Tên đăng nhập</label>
                        <input class="form-control py-4" id="inputUsername" type="text" placeholder="Nhập tên đăng nhập của bạn">
                      </div>
                      <div class="form-row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label class="small mb-1" for="inputPassword">Mật khẩu</label>
                            <input class="form-control py-4" id="inputPassword" type="password" placeholder="Nhập mật khẩu của bạn">
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label class="small mb-1" for="inputConfirmPassword">Nhập lại mậu khẩu</label>
                            <input class="form-control py-4" id="inputConfirmPassword" type="password" placeholder="Nhập lại mật khẩu của bạn">
                          </div>
                        </div>
                      </div>
                      <div class="form-group mt-4 mb-0"><a class="btn btn-primary btn-block" href="Login">Tạo tài khoản mới</a></div>
                    </form>
                  </div>
                  <div class="card-footer text-center">
                    <div class="small"><a href="Login">Bạn đã có tài khoản rồi? Đi tới trang Đăng nhập!</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </main>
      </div>
      <div id="layoutAuthentication_footer">
        <!-- Footer của content-->
        <footer class="py-4 bg-light mt-auto">
          <div class="container-fluid">
            <div class="d-flex align-items-center justify-content-between small">
              <div class="text-muted">Nhóm framework số 1</div>
              <div><a href="#">Thông tin ứng dụng</a>                                ·<a href="#"> Thành viên tham gia project &amp; chi tiết</a></div>
            </div>
          </div>
        </footer>
      </div>
    </div>
    <!-- Optional JavaScript-->
    <!-- jQuery first, then Popper.js, then Bootstrap JS-->
    <script type="text/javascript" src="~/liblaries/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="~/liblaries/bootstrap.bundle.min.js"></script>
    <!-- Fontawesome-->
    <script type="text/javascript" src="~/liblaries/fontawesome-all.min.js"></script>
    <!-- Custom JavaScript-->
    <script type="text/javascript" src="~/js/main.js"></script>
  </body>
</html>