@{
    Layout = "_Layout_PageDialog";
}

@{
    ViewData["Title"] = "Quên mật khẩu";
    ViewData["formSize"] = 5;
    ViewData["mainTitle"] = "Quên mật khẩu";
    ViewData["action"] = "/Login/ForgotPassword";
}

@section stylesheets {
    <!-- Stylesheets -->
    <!-- Optional Stylesheets-->
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="~/liblaries/bootstrap.min.css">
    <!-- Custom Stylesheets-->
    <link rel="stylesheet" href="~/css/main.css">
}

@section navbar {
    <!-- Navbar -->
}

@section formErrors {
    <!-- Thông báo lỗi trong form -->
    @{
        List<String> errors = ViewData["errors"] as List<String>;
        if (errors != null && errors.Count > 0)
        {
            @foreach (String error in errors)
            {
                <div class="alert alert-danger alert-dismissible fade show" role="alert"><span> @error </span><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>
            }
        }
    }
}

@section formNotice {
    <!-- Thông báo của form -->
    <div class="small mb-3 text-muted">Liên hệ với Admin để báo quên mật khẩu và nhận mật khẩu mới.</div>
}

@section formContent {
}

@section formButton {
    <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
        <a class="small" href="/Login/Login">Trở về trang Đăng nhập</a>
    </div>
}

@section formExtraLink {
    <div class="small"><a href="/Login/Register">Bạn chưa có tài khoản? Đăng ký ngay!</a></div>
    <div class="small"><a href="/Home/Index">Trang chủ</a></div>
}

@section footer {
    @await Html.PartialAsync("_Item_Footer")
}

@section javascripts {
    <!-- Javascripts -->
    <!-- Optional JavaScript-->
    <!-- jQuery first, then Popper.js, then Bootstrap JS-->
    <script type="text/javascript" src="~/liblaries/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="~/liblaries/bootstrap.bundle.min.js"></script>
    <!-- Fontawesome-->
    <script type="text/javascript" src="~/liblaries/fontawesome-all.min.js"></script>
    <!-- Custom JavaScript-->
    <script type="text/javascript" src="~/js/main.js"></script>
}
