<div class="container-fluid">
    <div class="d-flex align-items-center justify-content-between small">
        <div class="text-muted">Nhóm framework số 21</div>
        <div><a href="/Info/Thongtinungdung">Thông tin ứng dụng</a></div>
    </div>
</div>