<ul class="nav-items">
    <a href="/User/Index"><li class="nav-link">
        Home
    </li></a>
    <a href="/User/Infor"><li class="nav-link">
        Information
    </li></a>
    <a href="/User/History"><li class="nav-link">
        History
    </li></a>
    <a href="/User/Statistical"><li class="nav-link">
        Statistical
    </li></a>
    <a href="/User/Account"><li class="nav-link">
        Account
    </li></a>
</ul>