<footer class="footer">
    <div class="container">
        <div class="about-us" data-aos="fade-right" data-aos-delay="200">
            <h2>Thông tin nhóm</h2>
            <p>Lê Nguyễn Hải Duy - 17520395</p>
            <p>Nguyễn Cao Nguyên - 17520821</p>
            <p>Lê Tăng Có - 17520296</p>
            <p>Chu Minh Tân - 17521008</p>
        </div>
        <div class="contact" data-aos="fade-left" data-aos-delay="200">
            <h2>Một số hình ảnh coffee</h2>
            <div class="flex-row">
                <img src="~/img/coffee1.jpg">
                <img src="~/img/coffee2.jpg">
                <img src="~/img/coffee3.jpg">
            </div>
            <div class="flex-row">
                <img src="~/img/coffee4.jpg">
                <img src="~/img/coffee5.jpg">
                <img src="~/img/coffee6.jpg">
            </div>
        </div>
        <div class="follow" data-aos="fade-left" data-aos-delay="200">
            <h2>Thông tin liên hệ</h2>
            <div>
                <i class="fab fa-facebook-f"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-youtube"></i>
            </div>
        </div>
    </div>
    <div class="move-up">
        <span><i class="fas fa-arrow-circle-up fa-2x"></i></span>
    </div>
</footer>