<!DOCTYPE html>
<html lang="vi">
<head>
    <title>@ViewData["Title"] - Quản lý quán cà phê</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    @RenderSection("stylesheets", required: false)
</head>
<body>
    <!-- Start Content-->
    @RenderSection("content", required: false)
    <!-- End Content-->
    @RenderSection("javascripts", required: false)
</body>
</html>